.trips {
  width: 100vw;
  h1 {
    font-size: 22px;
    padding: 80px 0 40px;
  }

  .trips-info {
    display: flex;
    border-top: 3px solid $gray;
    @include media-min-width(desktop) {
      position: relative;
      width: calc( 100% - 80px);
      height: calc( 100vh - 200px);
      padding: 20px 40px;
      overflow-y: hidden;
    }
    &__list {
      display: inline-block;
      width: calc(100% - 60px);
      // margin: 20px 30px;
      @include media-min-width(desktop) {
        width: 50%;
        overflow-y: scroll;
        // margin: 20px 10px 0 0;
        box-sizing: content-box;
        height: calc( 100vh - 200px);
      }
    }
    &__map {
      display: none;
      @include media-min-width(desktop) {
        position: relative;
        display: block;
        width: 50%;
        height: calc( 100vh - 200px);
        margin-left: 20px;
      }
    }
  }

  .trips-map {
    width: calc(100% - 6px);
    height: 100vh;
    border: 3px solid $gray;
    border-radius: 8px;
  }

  .trips-item {
    display: flex;
    align-items: columns;
    margin-bottom: 20px;
    padding: 15px;
    border: 3px solid $gray;
    border-radius: 8px;
    color: $bluegray;
    transition: box-shadow .2s;
    &__title {
      margin-bottom: 20px;
      font-size: 17px;
      font-weight: 600;
      color: $bluegray;
      @include media-min-width(tablet) {
        font-size: 20px;
      }
    }
    &__caption {
      margin: auto;
      padding: 15px;
      font-size: 15px;
    }
    &__image {
      position: relative;
      width: 30%;
      min-width: 30%;
      &:before {
        content: '';
        display: block;
        padding-bottom: 56.25%
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 7px;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.35);
      }
    }
    &__copy {
      font-size: 16px;
      // @include media-min-width(mobile) {
      //   font-size: 17px;
      // }
      // @include media-min-width(tablet) {
      //   font-size: 18px;
      // }
    }
    &__btn {
      font-size: 14px;
      margin-top: 20px;
      font-weight: 600;
      border-bottom: 1px solid $bluegray;
    }
    &:hover {
      box-shadow: 0 0 20px $gray;
    }
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
}
