html, body {
  margin: 0;
  height: 100vh;
  background-color: $lightgray;
  font-family: 'Roboto';
}

#app {
	position: relative;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $bluegray;
	margin: 0;
	padding: 0;
}

nav {
	position: absolute;
	top: 40px;
	left: 40px;
	padding: 10px 15px;
	z-index: 1;
	a {
		font-weight: bold;
		color: $bluegray;
		&.router-link-exact-active {
			background-color: $yellow;
			padding: 5px 15px;
			border-radius: 5px;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.6s ease-in;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
