.aside {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	color: $bluegray;
	background-color: $lightgray;
	border-left: 2px solid $yellow;
  transition: width .6s ease-in-out .1s;
	z-index: 1;
	&__list {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    &.visible {
      opacity: 1;
      transition: opacity 0.5s ease-in .2s;
    }
	}
	&__item {
		margin: 20px 0;
	}
  &.visible {
    transition: width .4s ease-in;
    width: 300px;
  }
}
